html,
body {
    padding: 0;
    margin: 0;
    background-color: #1f1f1f;
    color: #e0e0e0;
    image-rendering: pixelated;
}

h1 {
    padding: 0;
    margin: 0;
}

#game-canvas {
    min-width: 300px;
    min-height: 300px;
    image-rendering: pixelated;
}

#img-content {
    display: none;
    background-color: rgb(96, 157, 159);
}

#current-atom {
    max-width: 48px;
}